In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#school_data_complete.head()
student_data.head()
#school_data_complete.dtypes

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [24]:
num_stu = len(student_data)
pass_math = (sum(student_data["math_score"] >=70) / num_stu) * 100
pass_read = (sum(student_data["reading_score"] >=70) / num_stu) * 100
stu_pass = ((len(student_data.loc[(student_data['math_score']>=70) & (student_data['reading_score']>= 70)])) / num_stu) * 100

dist_sumry = [
    {"Total Schools":len(school_data), 
     "Total Students":num_stu, 
     "Total Budget":sum(school_data["budget"]), 
     "Average Math Score":student_data["math_score"].mean(),
     "Average Reading Score":student_data["reading_score"].mean(),
     "% Passing Math":pass_math, 
     "% Passing Reading":pass_read, 
     "% Overall Passing":stu_pass}]
dist_sumry_df = pd.DataFrame(dist_sumry)
#pd.options.display.float_format = "{:,0f}".format
#df.style.format('{:,}')
#dist_sumry_df = dist_sumry_df.style.format('{:,.6f}')
pd.options.display.float_format = "{:,.6f}".format
#len(student_data) # df.style.format('{:,.6}')
#stu_pass = ((len(student_data.loc[(student_data['math_score']>=70) & (student_data['reading_score']>= 70)])) / num_stu) * 100
#(stu_sumry / num_stu) * 100
#passing = sum(stu_su)
#stu_pass
dist_sumry_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.877840,74.980853,85.805463,65.172326

In [9]:
#

In [9]:
#

In [ ]:
#

In [ ]:
#
#